*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* COMMON */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.float{
    float: left;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.align{
    align-items: center;
}

.between{
    justify-content: space-between;
}

.block{
    display: block;
}

.dec-non{
    text-decoration: none;
}

.list-non{
    list-style-type: none;
}

.margin-row{
    margin: 10px;
}

.margin{
    margin: 0% 3%;
}

.margin-b{
    margin-bottom: 10px;
}

.padding-side{
    padding: 0px 10px;
}

img{
    width: 100%;
}

.barr{
    width: 40%;
    height: 4px;
    background-color: #5a5a5a;
    /* display: inline-block; */
    border-radius: 5px;
}

.barr-in{
    height: 100%;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 5px;
} 

.font-9{
    font-size: 9px;
}

.font-12{
    font-size: 12px;
}

.font-w{
    font-weight: 700;
}

.white{
    color: #ffffff;
}

.grey{
    color: #7c7e83;
}
/* END COMMON

/* MAIN */
.main-container{
    width: 100%;
    height: calc(100vh - 100px);
}

.upgrade{
    width: calc(100% - 170px);
    height: 60px;
    background-color:rgba(0, 0, 0, 50%);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    line-height: 60px;
    vertical-align: middle;
}

.btn{
    padding: 8px 25px;
    border: 2px solid #a4a4a6;
    border-radius: 20px;
    transition: 0,5s;
}

.btn:hover {
    padding: 10px 30px;
}

/* upgrade nedia */
@media screen and (max-width: 601px) {
    .upgrade{
        width: calc(100% - 40px);
    }
}

/* nav */
.nav{
    height: 100%;
    width: 170px;
    padding: 10px;
    overflow: hidden;
    background-color: #000000;
}

.logo{
    width: 70%;
    margin-bottom: 20px;
}

.logo .logo-small{
    display: none;
}

.library-icon{
    font-weight: 800;
}

.plus{
    font-size: 30px;
    font-weight: 600;
    background-color: #a3a3a3;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

.playlist{
    flex-grow: 1;
    overflow-y: auto;
}

.nav li{
    margin-bottom: 5px;
}

.install-app{
    border-bottom: 2px solid #4b4b4b;
    padding: 4px 0px;
    margin-bottom: 6px;
}

.fa-user-circle{
    background-color: #808080;
    border-radius: 10px;
}

/* nav media */
@media screen and (max-width: 601px) {
    .nav{
        width: 40px;
        padding: 3px;
        position: relative;
    }

    .logo .logo-big{
        display: none;
    }

    .logo .logo-small{
        display: block;
    }

    .nav-text{
        display: none;
    }

    .user{
        position: absolute;
        bottom: 0px;
    }
}

/* content */
.content{
    height: 100%;
    width: calc(100% - 170px);
    overflow-y: auto;
    background-color: #141922;
}

.content-menu{
    padding-top: 70px;
}

.content-menu ul{
    justify-content: center;
    font-size: 12px;
}

.content-menu li :hover{
    border-bottom: 3px solid #adff2f;
}

.home :hover{
    border-left: 3px solid #adff2f;
}

.row-1{
    width: 100%;
}

.row-img .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.after .fa-play-circle{
    transform: translate(50%, 50%);
}

.row-img:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.row-img img{
    max-width: 150px;
}

.row-text{
    max-width: 150px;
}

.row-text span{
    text-align: center;
}

/* content nedia */
@media screen and (max-width: 601px) {
    .content{
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 1101px) {
    .row-1{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .margin-row{
        width: calc(25% - 20px);
        margin: 5px;
    }
}
@media screen and (max-width: 601px) {
    .row-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .margin-row{
        width: calc(50% - 4px);
        margin: 2px;
    }
}


/* END MAIN */

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #282828;
}

.col-left, .col-right{
    width: 20%;
}

.foot-img img{
    height: 40px;
    width: 40px;
}

.icons{
    padding-left: 10%;
}

.col-center{
    width: 60%;
}

.up{
    justify-content: center;
}

.down{
    justify-content: center;
    align-items: center;
}

.col-right{
    justify-content: right;
}

/* END FOOTER */